<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>もふもふ☆パラダイス/コミックマーケット94</title>
<link rel="icon" href="favicon.ico">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header class="header">
  <nav class="container-fluid">
    <section class="row">
      <div class="col-xs-8 col-sm-4 col-md-3 rogo">
        <img src="img/rogo.png" class="image">
      </div>
    </section>
  </nav>
</header>

<main>
  
  <section class="container-fluid fifth">
    <div class="row">
      <div class="col-xs-12 col-md-6 center"><img src="img/mohupara-5.png" class="image shadow"></div>
      <div class="col-xs-12 col-md-6 sp-padding">
        <h1 class="title">アタシだけを見て♡Micro Frontends 実践マニュアル</h1>
        <p class="list">
          <span class="left-box">概要</span>
          <span class="right-box">どういう環境でweb componentsを使用すると効果があるのか、またweb componentsがどう将来を変革して行くのかという内容に加え、Micro Frontendsが解決する問題について詳細に説明しています。</span>
        </p>
        <p class="list">
          <span class="left-box">サークル名</span>
          <span class="right-box">もふもふ☆パラダイス</span>
        </p>
        <p class="list">
          <span class="left-box">配布場所</span>
          <span class="right-box">コミックマーケット94 1日目(金) 西め34a</span>
        </p>
        <p class="list">
          <span class="left-box">配布日程</span>
          <span class="right-box">2018年8月10日(金)</span>
        </p>
        <p class="list">
          <span class="left-box">価格</span>
          <span class="right-box">500円(税込み)</span>
        </p>
      </div>
    </div>
  </section>
  
  <section class="container-fluid fourth">
    <div class="row">
      <div class="col-xs-12 col-md-6 center"><img src="img/mohupara-4.jpg" class="image shadow"></div>
      <div class="col-xs-12 col-md-6 sp-padding">
        <h1 class="title">さぁ、一緒に行こう♡ Web Components 実践マニュアル</h1>
        <p class="list">
          <span class="left-box">概要</span>
          <span class="right-box">Web componentsの基本的な概要やcustom-elementsの基本的なAPIの説明を主軸に、後半では応用的な使い方を説明しています。</span>
        </p>
        <p class="list">
          <span class="left-box">サークル名</span>
          <span class="right-box">もふもふ☆パラダイス</span>
        </p>
        <p class="list">
          <span class="left-box">配布場所</span>
          <span class="right-box">コミティア122 有明・東京ビッグサイト A20b</span>
        </p>
        <p class="list">
          <span class="left-box">配布日程</span>
          <span class="right-box">2017年11月23日(木)</span>
        </p>
        <p class="list">
          <span class="left-box">価格</span>
          <span class="right-box">500円(税込み)</span>
        </p>
      </div>
    </div>
  </section>
  
  <section class="container-fluid third">
    <div class="row">
      <div class="col-xs-12 col-md-6 center"><img src="img/mohupara-3.jpg" class="image shadow"></div>
      <div class="col-xs-12 col-md-6 sp-padding">
        <h1 class="title">アタシが教えてア・ゲ・ル♥ node.js実践マニュアル</h1>
        <p class="list">
          <span class="left-box">概要</span>
          <span class="right-box">Node.jsのインストールの仕方、基本的な使い方の説明や、expressを使用したサーバーサイドの開発までを説明しています。こちらの書籍はNode.jsに馴染みの無い方や初学者向けの内容となっております。</span>
        </p>
        <p class="list">
          <span class="left-box">サークル名</span>
          <span class="right-box">もふ☆パラwithくもっつん</span>
        </p>
        <p class="list">
          <span class="left-box">配布場所</span>
          <span class="right-box">COMITIA116 有明・東京ビッグサイト東４・５・６ホール T21a</span>
        </p>
        <p class="list">
          <span class="left-box">配布日程</span>
          <span class="right-box">2016年5月5日(木)</span>
        </p>
        <p class="list">
          <span class="left-box">価格</span>
          <span class="right-box">500円(税込み)</span>
        </p>
      </div>
    </div>
  </section>
  
  <section class="container-fluid first">
    <div class="row">
      <div class="col-xs-12 col-md-6 center"><img src="img/image1.png" class="image shadow"></div>
      <div class="col-xs-12 col-md-6 sp-padding">
        <h1 class="title">キミと一緒に学びたいECMAScript2015</h1>
        <p class="list">
          <span class="left-box">概要</span>
          <span class="right-box">ECMAScript2015とは何かということから、著者が厳選した構文の説明、また実際にサンプルコードを通して実践的な使い方を説明した一冊になります。本書は2部構成になっており、基本編では構文の説明、応用編では実際にサンプルコードを例にどのように使用していくのかということを記載させて頂きました。</span>
        </p>
        <p class="list">
          <span class="left-box">サークル名</span>
          <span class="right-box">もふもふ☆パラダイス</span>
        </p>
        <p class="list">
          <span class="left-box">配布場所</span>
          <span class="right-box">サンシャインクリエイション2016 Winter</span>
        </p>
        <p class="list">
          <span class="left-box">配布日程</span>
          <span class="right-box">2016年2月28日(日)</span>
        </p>
        <p class="list">
          <span class="left-box">価格</span>
          <span class="right-box">500円(税込み)</span>
        </p>
      </div>
    </div>
  </section>
  
  <section class="container-fluid second">
    <div class="row">
      <div class="col-xs-12 col-md-6 center"><img src="img/image2.png" class="image shadow"></div>
      <div class="col-xs-12 col-md-6 sp-padding">
        <h1 class="title">アナタに捧げるフロントエンド実践マニュアル</h1>
        <p class="list">
          <span class="left-box">概要</span>
          <span class="right-box">PostCSSとは何かということや導入の仕方、次世代CSSの構文の説明を中心に執筆させて頂きました。 この書籍を通じて少しでもPostCSSに興味を持って頂けたら幸いです。</span>
        </p>
        <p class="list">
          <span class="left-box">サークル名</span>
          <span class="right-box">もふもふ☆パラダイス</span>
        </p>
        <p class="list">
          <span class="left-box">配布場所</span>
          <span class="right-box">コミックマーケットC89 東エ-35b</span>
        </p>
        <p class="list">
          <span class="left-box">配布日程</span>
          <span class="right-box">2015年12月31日(木)</span>
        </p>
        <p class="list">
          <span class="left-box">価格</span>
          <span class="right-box">500円(税込み)</span>
        </p>
      </div>
    </div>
  </section>
  
</main>

<footer class="footer">
  <section class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 footer-list">
        <h2>もふもふ☆パラダイスとは</h2>
        <div class="flex-footer">
          <div class="footer-left">もふもふ☆パラダイスはフロントエンドの技術を中心に同人活動を行うサークルです。</div>
        </div>
      </div>
    </div>
  </section>
</footer>

<section class="copyright">©<span></span>もふもふ☆パラダイス</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>

