<header class="header">
  <nav class="container-flid">
    <section class="row">
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 sam">メニュー1</div>
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">メニュー2</div>
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">メニュー3</div>
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">メニュー4</div>
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">メニュー5</div>
      <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">メニュー6</div>
    </section>
  </nav>
</header>

<section class="container-fluid">
<div class="row">
  <div class="col-xs-3 col-sm-4 col-md-6 col-lg-12">テスト1</div>
  <div class="col-xs-3 col-sm-4 col-md-6 col-lg-12">テスト2</div>
  <div class="col-xs-3 col-sm-4 col-md-6 col-lg-12">テスト3</div>
  <div class="col-xs-3 col-sm-4 col-md-6 col-lg-12">テスト4</div>
</div>
</section>
