<footer class="footer">
  <section class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">コンテンツ</div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">コンテンツ</div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">コンテンツ</div>
    </div>
  </section>
</footer>

<section class="copyright">©<span></span>もふもふ☆パラダイス</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
