<footer class="footer">
  <section class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2 footer-list">
        <h2>もふもふ☆パラダイスとは</h2>
        <div class="flex-footer">
          <div class="footer-left">もふもふ☆パラダイスはフロントエンドの技術を中心に同人活動を行うサークルです。 今後の活動に関してはもふパラサイトで随時告知して行きますので、よろしくお願い致します！</div>
          <div class="footer-right"><button class="mp-button">もふパラブログへGO！</button></div>
        </div>
      </div>
    </div>
  </section>
</footer>

<section class="copyright">©<span></span>もふもふ☆パラダイス</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
