<header class="header">
  <nav class="container-fluid">
    <section class="row">
      <div class="col-xs-8 col-sm-4 col-md-3 rogo">
        <img src="img/rogo.png" class="image">
      </div>
    </section>
  </nav>
</header>
