@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "San Francisco";
}

.image {
  size: 100% auto;
}
