@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "San Francisco";
}

.image {
  size: 100% auto;
}

@define-mixin min $minWidth {
  @media screen and (width >= $minWidth) {
    @mixin-content;
  }
}

@define-mixin max $maxWidth {
  @media screen and (width <= $maxWidth) {
    @mixin-content;
  }
}

@define-mixin between $minWidth, $maxWidth {
  @media screen and (width >= $minWidth) and (width <= $maxWidth) {
    @mixin-content;
  }
}

.center {
  text-align: center;
}
