.shadow {
  box-shadow: 0 1px 6px rgba(0,0,0,.35);
  max-width: 400px;
  display: inline-block;
  @mixin max $phone {
    width: 90%;
  }
}

.first {
  padding: 5rem 0 5rem;
  background: #e3f2fd;
}

.second {
  padding: 5rem 0 8rem;
  background: #fce4ec;
}

.third {
  padding: 5rem 0 8rem;
  background: #fbe9e7;
}

.title {
  font-size: 2.4rem;
  font-weight: 100;
}

.list {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  span {
    display: inline-block;
  }
}

.left-box {
  width: 19%;
  @mixin max $phone {
    width: 24%;
  }
}

.right-box {
  width: 70%;
  padding: 0 10% 0 0;
  @mixin max $phone {
    width: 75%;
    padding: 0;
  }
}

.sp-padding {
  padding: 0;
  @mixin max $phone {
    padding: 5%;
  }
}
